$orange: #F3741C;
$white: #FFFFFF;
$lightOrange: #E97937;
$semiOrange: #F59B65;
$bg-color-grey: #F9F9FA;

$sans-serif: "DM Sans", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
  font-family: $sans-serif;
  text-align: center;

  .logo {
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/logo.png");
    margin-top: 45px;
    @media (max-width: 991px) {
      margin-top: 0;
    }
  }

  .sub-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: $semibold;
    color: $orange;
    margin-top: 100px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      margin-top: 60px;
    }
  }

  h2 {
    font-size: 52px;
    line-height: 68px;
    font-weight: $bold;

    @media (max-width: 991px) {
      font-size: 48px;
      line-height: 60px;
    }

    &.title {
      margin-top: 0;
      margin-bottom: 60px;
    }

    &.feedback-title {
      margin-top: 165px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 100%;

    .text {
      flex: 1;
      font-size: 16px;
      line-height: 28px;
      font-weight: $normal;
      background-color: $bg-color-grey;
      padding: 70px 110px 70px 105px;

      p:nth-child(2) {
        margin-top: 30px;
      }

      p:nth-child(3) {
        margin-top: 30px;
      }

      @media (max-width: 991px) {
        padding: 30px 15px 17px 45px;
      }

      .author-name {
        font-size: 17px;
        line-height: 26px;
        font-weight: $bold;
        margin-top: 45px;
        margin-bottom: 0;
      }

      .author-position {
        font-size: 14px;
        line-height: 26px;
        font-weight: $normal;
        margin-top: 0;

        span {
          font-weight: $semibold;
          border-bottom: 1px solid $orange;
        }
      }
    }

    .slider {
      position: relative;

      .slider-image {
        height: 100%;
        width: 100%;

        @media (max-width: 991px) {
          margin-bottom: -5px;
        }
      }

      .slider-button {
        position: absolute;
        height: 55px;
        width: 55px;
        bottom: 0;
        background-color: $lightOrange;
        cursor: pointer;
        border: none;

        &.prev {
          right: 55px;
          border-right: 1.1px solid $semiOrange;
        }

        &.next {
          right: 0;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  .feedback-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: $normal;
    padding: 0 28%;

    @media (max-width: 991px) {
      padding: 0;
    }
  }

  .feedback-btn {
    width: 219px;
    height: 54px;
    margin-top: 30px;
    background: $orange;
    border-radius: 26px;
    border: none;
    text-transform: uppercase;
    color: $white;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 15%;
  }
}

